.admintitle
{
	background-color:#530602;
	color:#fff;
	margin-right:50px;
	margin-left:50px;
	height:140px;
	line-height:140px;
}
.admin
{
	background-color:ff1493;
	color:#4B0082;
	margin-left:50px;
	margin-right:50px;
	height:140px;
	font-size:50px;
	
}